<div class="card m-3">
  <div class="card-body">
    <h5 class="card-title"><%= link_to post.title, user_post_path(user, post), class: "text-decoration-none" %></h5>
      <% if post.text.size > 70 %>
        <p class="card-text"><%= post.text[0, 70] %>...</p>
      <% else %>
        <p class="card-text"><%= post.text %></p>
      <% end %>
      <p class="mb-2 text-muted text-end"><small>Comments: <%= post.comments_counter %> Likes: <%= post.likes_counter %></small></p>
  </div> 
  <%= form_with model: @comments, url: user_post_comments_path(@current_user, post), method: :post, local: true, scope: :user_post_comments do |form| %>

  <div class="form-group m-3">
    <%= form.text_field :text, class: "form-control m-2 w-75", placeholder: "Comment text" %>
  </div>

  <%= form.submit value: 'Add comment', class:'btn btn-secondary mx-4' %>
<% end %>
 <%= form_with model: @likes, url: user_post_likes_path(@current_user, post), method: :post, local: true, scope: :user_post_likes do |form| %>

      <%= form.submit value: 'Add Like', class:'btn btn-secondary m-2' %>
      
    <% end %>
</div>
